<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <title>Patients</title>

    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/ui-darkness/jquery-ui.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    
    <link rel="stylesheet" th:href="@{/css/site.css}"/>

    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>

<div class="container">
    
    <div class="page-header">
        <h2>NBS Patient (<span class="value" th:text="${patient.FirstName} + ' ' + ${patient.LastName}"></span>)</h2>
    </div>
    <div><a th:href="@{/patient/list}">Back to List</a></div>
    <div class="row">
    <div class="col-md-4">
                    
            <div class="list-group list-group-flush">

				<div class="list-group-item list-group-item-kvp">
				     <label class="key">Patient Identifer</label>                    
				     <span class="value" th:text="${patient.PatientIdentifier}"></span>
				</div>
				
				<div class="list-group-item list-group-item-kvp">
				     <label class="key">Patient IdentiferType</label>                    
				     <span class="value" th:text="${patient.PatientIdentifierType}"></span>
				</div>
				
				<div class="list-group-item list-group-item-kvp">
				     <label class="key">Patient Name</label>                    
				     <span class="value" th:text="${patient.FirstName} + ' ' + ${patient.LastName}"></span>
				</div>
				
				<div class="list-group-item list-group-item-kvp">
				     <label class="key">Gender</label>                    
				     <span class="value" th:text="${patient.Sex}"></span>
				</div>
				
				<div class="list-group-item list-group-item-kvp">
				     <label class="key">Birthdate</label>                    
				     <span class="value" th:text="${#dates.format(patient.DOB, 'MM/dd/yyyy')}"></span>
				</div>
				
				
				<div class="list-group-item list-group-item-kvp">
				     <label class="key">Mother's Name</label>                    				     
				     <span class="value" th:text="${patient.MotherFirstName} + ' ' + ${patient.MotherLastName}"></span>
				</div>

				<div class="list-group-item list-group-item-kvp">
				     <label class="key">Maiden Name</label>                    
				     <span class="value" th:text="${patient.MaidenName}"></span>
				</div>
				<div class="list-group-item list-group-item-kvp">
				     <label class="key">Address Line 1</label>                    
				     <span class="value" th:text="${patient.AddressLine1}"></span>
				</div>


				<div class="list-group-item list-group-item-kvp">
				     <label class="key">City, State Zip</label>                    
				     <span class="value" th:text="${patient.City} + ', ' +  ${patient.State} + ' ' + ${patient.ZipCode}"></span>
				</div>
				
				<div class="list-group-item list-group-item-kvp">
				     <label class="key">Phone</label>                    
				     <span class="value" th:text="'(' + ${patient.AreaCode} + ') ' + ${patient.PhoneNumber}"></span>
				</div>
						    
                
            </div> 
        
       <a href="#" id="queryIIS" class="btn btn-default">Check Immunization Records</a>
       
    </div>
    <div class="col-md-8">
    
	    <label style="display:block;padding-top:5px;">Patient JSON</label>
   		<code id="patient"></code>
   		
   		<label style="display:block;padding-top:5px;">Request HL7</label>
   		<code id="requestHL7"></code>
   		
   		<label style="display:block;padding-top:5px;">Response HL7</label>
   		<code id="responseHL7"></code>
   	
   		<label style="display:block;padding-top:5px;">Query Response JSON</label>
   		<code id="queryResponse"></code>
   		
   		<label style="display:block;padding-top:5px;">HTLM Query Response</label>
   		<div id="iisResults"></div>
   
    
    </div>
</div>
    
    
</div>
<footer class="footer navbar-inverse navbar-fixed-bottom">
    <div class="container">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4"><p class="text-muted">@Copyright 2018 Mark Ellingson</p></div>
        </div>
    </div>
</footer>

<script src="http://code.jquery.com/jquery-1.12.4.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<script type="text/javascript">

	// store the vaccine data
	var _vaccinations;
	$(function(){
		
		
		
$('#queryIIS').on('click', function(){
			
			var areaCode, phoneNumber
			phoneNumber = $("#PhoneNumber").val();
			
			var _patientData;
			var dob = '[[${patient.DOB}]]'; 
			if( dob != null || dob.length > 0){
				dob = new Date(dob);
			}
			
			var patient = {
					patientIdentifier: '[[${patient.PatientIdentifier}]]',
					authority: '[[${patient.Authority}]]',
					patientIdentifierType: '[[${patient.PatientIdentifierType}]]',
					firstName: '[[${patient.FirstName}]]',
					lastName: '[[${patient.LastName}]]',
					motherFirstName: '[[${patient.MotherFirstName}]]',
					motherLastName: '[[${patient.MotherLastName}]]',
					maidenName: '[[${patient.MaidenName}]]',
					dob: dob,
					sex: '[[${patient.Sex}]]',
					addressLine1: '[[${patient.AddressLine1}]]',
					city: '[[${patient.City}]]',
					state: '[[${patient.State}]]',
					zipCode: '[[${patient.ZipCode}]]',
					country: '[[${patient.Country}]]',
					areaCode: '[[${patient.AreaCode}]]',
					phoneNumber: '[[${patient.PhoneNumber}]]'
			}
			
			
			$.ajax({
				  type: "POST",
				  url: "[[@{/api/search}]]",
				  data: JSON.stringify(patient),				  
				  dataType: 'json',
				  headers: { 
				        'Accept': 'application/json',
				        'Content-Type': 'application/json' 
				    },
				    success: function(data){				    	
					  	_patientData = data;
					  	
					  	$("#patient").html(JSON.stringify(_patientData.patient));
						$("#requestHL7").html(_patientData.requestHL7);
						$("#responseHL7").html(_patientData.responseHL7);
						$("#queryResponse").html(JSON.stringify(_patientData.queryResponse));
					  	
						var sb = new Array(); 
						if(_patientData.queryResponse.patientList == null && _patientData.queryResponse.vaccinationList == null){					
							sb.push("<div>No patient vaccinations found!</div>")
						}
						else if(_patientData.queryResponse.patientList != null && _patientData.queryResponse.patientList.length > 1){
							
							sb.push("<div>Multiple patients found.</div>")
							sb.push("<div class=\"divTable\" style=\"border: 1px solid #000;\">");
							sb.push("<div class=\"divTableBody\">");
							// Make header row.
							sb.push("<div class=\"divTableRow\">");
							sb.push("<div class=\"divTableHead\">Patient Name</div>");
							sb.push("<div class=\"divTableHead\">Data of Birth</div>");
							sb.push("<div class=\"divTableHead\">Maiden Name</div>");										
							sb.push("</div>");
							
							
							for(var i = 0; i < patientData.patients.length; i++){
								
								sb.push("<div class=\"divTableRow\">");
																
								sb.push("<div class=\"divTableCell\"><a href=\"#\" data-id=\"" + i +"\" class=\"patientSearch\">" + $.trim(_patientData._patientData.queryResponse.patientList[i].nameFirst) + " " + $.trim(_patientData.queryResponse.patientList[i].nameLast) + "</a></div>");
								sb.push("<div class=\"divTableCell\">" + $.trim(_patientData.queryResponse.patientList[i].birthDate).split("T")[0] + "</div>");
								sb.push("<div class=\"divTableCell\">" + $.trim(_patientData.queryResponse.patientList[i].motherNameMaiden) + "</div>");
															
								sb.push("</div>");
							}
							
							// Button to submit vaccinations to RESTFul vaccination service.
							// Checkbox to include vaccination with patient.
							sb.push("</div>");
							sb.push("</div>");						
							
							
							
						}
						else{
							sb.push("<div style=\"font-weight:bold;\">Immunization Records Found for " + $.trim(_patientData.queryResponse.patientList[0].nameFirst) + " " + $.trim(_patientData.queryResponse.patientList[0].nameLast) + " DOB: " + $.trim(_patientData.queryResponse.patientList[0].birthDate).split("T")[0] + " Maiden Name: "  + $.trim(_patientData.queryResponse.patientList[0].motherNameMaiden) + "</div>");
							sb.push("<div class=\"divTable\" style=\"border: 1px solid #000;\">");
							sb.push("<div class=\"divTableBody\">");
							// Make header row.
							sb.push("<div class=\"divTableRow\">");							
							sb.push("<div class=\"divTableHead\">Admin Date</div>");
							sb.push("<div class=\"divTableHead\">Vacc Label</div>");
							sb.push("<div class=\"divTableHead\">Vacc Cvx</div>");
							sb.push("<div class=\"divTableHead\">Manu Label</div>");
							sb.push("<div class=\"divTableHead\">Manu Cvx</div>");
							sb.push("<div class=\"divTableHead\">Lot #</div>");
							sb.push("<div class=\"divTableHead\">Comp Status</div>");
							sb.push("<div class=\"divTableHead\">Info Src</div>");
							sb.push("<div class=\"divTableHead\">Info Src Label</div>");
							sb.push("<div class=\"divTableHead\">Refusal Reason</div>");
							sb.push("<div class=\"divTableHead\">Admin Amt</div>");
							sb.push("<div class=\"divTableHead\">Admin Amt Unit</div>");					
							sb.push("</div>");
							
							
							for(var i = 0; i < _patientData.queryResponse.vaccinationList.length; i++){
								
								
								var vaccDate = _patientData.queryResponse.vaccinationList[i].administrationDate.split('T');
								sb.push("<div class=\"divTableRow\">");								
								sb.push("<div class=\"divTableCell\">" + $.trim(vaccDate[0]) + "</div>");
								sb.push("<div class=\"divTableCell\">" + $.trim(_patientData.queryResponse.vaccinationList[i].vaccineLabel) + "</div>");
								sb.push("<div class=\"divTableCell\">" + $.trim(_patientData.queryResponse.vaccinationList[i].vaccineCvx) + "</div>");
								sb.push("<div class=\"divTableCell\">" + $.trim(_patientData.queryResponse.vaccinationList[i].manufacturerLabel) + "</div>");
								sb.push("<div class=\"divTableCell\">" + $.trim(_patientData.queryResponse.vaccinationList[i].manufacturerCvx) + "</div>");
								sb.push("<div class=\"divTableCell\">" + $.trim(_patientData.queryResponse.vaccinationList[i].lotNumber) + "</div>");
								sb.push("<div class=\"divTableCell\">" + $.trim(_patientData.queryResponse.vaccinationList[i].completionStatus) + "</div>");
								sb.push("<div class=\"divTableCell\">" + $.trim(_patientData.queryResponse.vaccinationList[i].informationSource) + "</div>");
								sb.push("<div class=\"divTableCell\">" + $.trim(_patientData.queryResponse.vaccinationList[i].informationSourceLabel) + "</div>");
								sb.push("<div class=\"divTableCell\">" + $.trim(_patientData.queryResponse.vaccinationList[i].refusalReason) + "</div>");
								sb.push("<div class=\"divTableCell\">" + $.trim(_patientData.queryResponse.vaccinationList[i].administeredAmount) + "</div>");
								sb.push("<div class=\"divTableCell\">" + $.trim(_patientData.queryResponse.vaccinationList[i].administeredAmountUnit) + "</div>");								
								sb.push("</div>");
							}
							
							// Button to submit vaccinations to RESTFul vaccination service.
							// Checkbox to include vaccination with patient.
							sb.push("</div>");
							sb.push("</div>");						
							
						}
										
						$( "#iisResults" ).html(sb.join(""));
				    	
				    }
				});
			
			
			
		});
		
		
		$("#queryIIS2").on('click',function(){
			var patientID = [[${patient.id}]];
			// get iis records and show in page.
						
			$.get( "/api/vaccinations/" + patientID, function( data ) {
				_vaccinations = data;
				var sb = new Array(); 
				
				
				if(data.length == 0){					
					sb.push("<div>No records found!</div>")
				}else{
					sb.push("<div style=\"font-weight:bold;\">Immunization Records Found</div>");
					sb.push("<div class=\"divTable\" style=\"border: 1px solid #000;\">");
					sb.push("<div class=\"divTableBody\">");
					// Make header row.
					sb.push("<div class=\"divTableRow\">");
					sb.push("<div class=\"divTableHead\">Select Vaccination</div>");
					sb.push("<div class=\"divTableHead\">Admin Date</div>");
					sb.push("<div class=\"divTableHead\">Vacc Label</div>");
					sb.push("<div class=\"divTableHead\">Vacc Cvx</div>");
					sb.push("<div class=\"divTableHead\">Manu Label</div>");
					sb.push("<div class=\"divTableHead\">Manu Cvx</div>");
					sb.push("<div class=\"divTableHead\">Lot #</div>");
					sb.push("<div class=\"divTableHead\">Comp Status</div>");
					sb.push("<div class=\"divTableHead\">Info Src</div>");
					sb.push("<div class=\"divTableHead\">Info Src Label</div>");
					sb.push("<div class=\"divTableHead\">Refusal Reason</div>");
					sb.push("<div class=\"divTableHead\">Admin Amt</div>");
					sb.push("<div class=\"divTableHead\">Admin Amt Unit</div>");					
					sb.push("</div>");
					
					
					for(var i = 0; i < data.length; i++){
						
						
						var vaccDate = data[i].administrationDate.split('T');
						sb.push("<div class=\"divTableRow\">");
						sb.push("<div class=\"divTableCell\"><input type=\"checkbox\" name=\"vaccination\" value=\"" + $.trim(data[i].vaccineLabel) + "\"/></div>");
						sb.push("<div class=\"divTableCell\">" + $.trim(vaccDate[0]) + "</div>");
						sb.push("<div class=\"divTableCell\">" + $.trim(data[i].vaccineLabel) + "</div>");
						sb.push("<div class=\"divTableCell\">" + $.trim(data[i].vaccineCvx) + "</div>");
						sb.push("<div class=\"divTableCell\">" + $.trim(data[i].manufacturerLabel) + "</div>");
						sb.push("<div class=\"divTableCell\">" + $.trim(data[i].manufacturerCvx) + "</div>");
						sb.push("<div class=\"divTableCell\">" + $.trim(data[i].lotNumber) + "</div>");
						sb.push("<div class=\"divTableCell\">" + $.trim(data[i].completionStatus) + "</div>");
						sb.push("<div class=\"divTableCell\">" + $.trim(data[i].informationSource) + "</div>");
						sb.push("<div class=\"divTableCell\">" + $.trim(data[i].informationSourceLabel) + "</div>");
						sb.push("<div class=\"divTableCell\">" + $.trim(data[i].refusalReason) + "</div>");
						sb.push("<div class=\"divTableCell\">" + $.trim(data[i].administeredAmount) + "</div>");
						sb.push("<div class=\"divTableCell\">" + $.trim(data[i].administeredAmountUnit) + "</div>");								
						sb.push("</div>");
					}
					
					// Button to submit vaccinations to RESTFul vaccination service.
					// Checkbox to include vaccination with patient.
					sb.push("</div>");
					sb.push("</div>");						
					sb.push("<button id=\"btnSaveVaccination\" class=\"btn btn-primary\">Save Vaccine Data</button>");
					
					
					
				}
								
				$( "#iisResults" ).html(sb.join(""));
				  
			});
			
		});
		
	});


</script>
</body>
</html>